extends layout

block append head
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(type='text/javascript', src='/dronestream/nodecopter-client.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/angular/angular.js')
  script(type='text/javascript', src='/js/tweets.js')

-# for developing the client, use those url:s
-# script(type='text/javascript', src='/dronestream/vendor/broadway/sylvester.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/glUtils.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/util.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc-codec.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/canvas.js')
-# script(type='text/javascript', src='/dronestream/nodecopter-stream.js')
-# concatenated version of client


block append bodyscripts
  script.
    $(function() {
      var copterStream = new NodecopterStream(document.querySelector('#dronestream'));
      setInterval(function() {
        $("#compare").attr('src', "comparison.png?time=" + new Date());
      },1000)
    })
  script.
    $.ajaxSetup({ async: true });
    setInterval(function() {
      var pic = $('#dronestream canvas')[0].toDataURL("image/png");
      console.log(pic)
      $.post("http://localhost:3000/image",{status:true,picture:pic},function(result){});
    }, 3500)
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  table(width="100%")
    // if the height of the tr is too small then stream will jitter
    tr(height="500px") 
      td(width="50%")
        h1 Video Stream goes here!
        div#dronestream(width=640, height=360)
        img#compare(src="comparison.png")
      td(width="50%")
        div
          ul
            li(ng-repeat='tweet in tweets')
              {{tweet.text}}
