extends layout

block append head
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(type='text/javascript', src='/dronestream/nodecopter-client.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/angular/angular.js')
  script(type='text/javascript', src='/js/tweets.js')

-# for developing the client, use those url:s
-# script(type='text/javascript', src='/dronestream/vendor/broadway/sylvester.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/glUtils.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/util.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc-codec.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/canvas.js')
-# script(type='text/javascript', src='/dronestream/nodecopter-stream.js')
-# concatenated version of client

block append bodyscripts
  script.
    $(function() {
      var copterStream = new NodecopterStream(document.querySelector('#dronestream'));
    })

  table(width="100%")
    // if the height of the tr is too small then stream will jitter
    tr(height="500px") 
      td(width="50%")
        #dronestream(width=640, height=360)
      td(width="50%")
        h1 Realtime Twitter Feed
        p(ng-hide='twts.length') No tweets received
        div#tweatList
          ul
            li(ng-repeat='twt in twts')
              @{{twt["screen_name"]}} : {{twt["command"]}}