body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li.ng-scope.ng-binding {
  border-bottom: 1px solid #ccc;
  font: 200 20px/1.5;
}

ul {
  list-style-type: none;
}
